{% extends "base.html" %}
{% block content %}
    <ul>
        {% for obj in obj %}
            <li>{{obj}} - <span id="status_{{obj.id}}">{{obj.status}}</span></li>
        {% endfor %}
    </ul>

    <script>
        const ws1 = new WebSocket('ws://localhost:8000/ws/as/status')

        ws1.onopen = function (e) {
            console.log("The connection was setup successfully !", e);
            // ws1.send(JSON.stringify({"message":"success"}));
        };
        ws1.onclose = function (e) {
            console.log("Something unexpected happened !", e);
        };
        ws1.onmessage = function (e) {
            let data = JSON.parse(e.data);
            console.log(data);
            let doc = document.getElementById(`status_${data.text.id}`)
            console.log(doc);
            doc.innerHTML = data.text.status
        };
    </script>
{% endblock %}