{% extends "base.html" %}
{% block content %}
<div class="mt-14 flex flex-col items-center">
<h1 class="text-4xl">{{request.user.username|title}}</h1>
<ul class="">
    {% for post in obj %}
    <li class="border border-2 shadow mb-2 text-center p-5">
        <p>{{post.message}} by- <strong>{{post.user|title}}</strong></p>
        <p id="like_message_{{post.id}}">
            {% if post.are_likes %}
                {% if post.get_last_liked_name %}
                    {% if request.user.username == post.get_last_liked_name %}
                        You 
                    {% else %}
                    {{post.get_last_liked_name}}{% endif %}
                {% endif %}
                {% if post.get_likes %}
                and 
                {{post.get_likes}} 
                more 
                {% endif %} liked this post.
            {% endif %}
        </p>
        {% if request.user in post.like.all %}
        <a href="javascript:void(0)" class="mt-5 update-like text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" data-id="{{post.id}}">Unlike</a>
        {% else %}
        <a href="javascript:void(0)" class="update-like" data-id="{{post.id}}">Like</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
</div>
<script>
    const likeBtn = document.querySelectorAll(".update-like")
    for (let index = 0; index < likeBtn.length; index++) {
        const element = likeBtn[index];
        element.addEventListener("click",async function(){
            let post_id = this.getAttribute("data-id")
            var likeDisplay = document.getElementById(`like_message_${post_id}`)
            // likeDisplay.setAttribute("id", `like_message_${post_id}`)
            console.log("clicked", );
            const response = await fetch(
                "/like/", 
                {
                    "method":"POST", 
                    "headers":{"X-CSRFToken":"{{csrf_token}}"}, 
                    "body":JSON.stringify({"post_id":post_id})
                }
            )
            if (response.ok){
                const liked_obj = await response.json();
                console.log(liked_obj);
                let note = ""
                if (liked_obj.are_likes){
                        if (liked_obj.get_last_liked_name){
                            if ("{{request.user.username}}" == liked_obj.get_last_liked_name){
                                note += "You"
                            }
                        else{
                            note += liked_obj.get_last_liked_name
                        }
                    }
                }       
                if (liked_obj.get_likes){
                    note += ` and ${liked_obj.get_likes} more`
                }
                if (liked_obj.are_likes){
                    note += " liked this post."
                }
                likeDisplay.innerHTML = note
                console.log("*****", note);
                if (liked_obj.message == "Liked"){
                    this.innerHTML = "Unlike"
                }else{
                    this.innerHTML = "Like"
                }

            }
            
        })
        
    }
</script>
<script>
    const ws1 = new WebSocket('ws://localhost:8000/ws/as/post-like/')

    ws1.onopen = function (e) {
        console.log("The connection was setup successfully !", e);
        // ws1.send(JSON.stringify({"message":"success"}));
    };
    ws1.onclose = function (e) {
        console.log("Something unexpected happened !", e);
    };
    ws1.onmessage = function (e) {
        let data = JSON.parse(e.data);
        console.log("<><><><><>", data);
        if ("{{request.user.username}}" !== data.text.user){
            let notiBlock = document.getElementById("notification")
            notiBlock.innerHTML = `${data.text.user} liked your post.`
        }
    };
</script>
{% endblock %}